*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    --dark: rgb(13, 17, 23);
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    background-color: var(--dark);
    position: relative;
    padding-bottom: 5rem;
}

.date-heading{
    display: inline-block;
    background: linear-gradient(264.51deg,
        #FFE580 4.38%, #FF7571 11.51%,
        #FF7270 25.06%, #EA5DAD 36.04%,
        #C2A0FD 47.63%, #9867F0 59.03%,
        #3BF0E4 69.96%, #33CE43 83.74%,
        #B2F4B6 95.62%);

    background-position: 58% 50%;
    background-size: 500%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-animation: gradient-shift 30s ease infinite;
    animation: gradient-shift 30s ease infinite;
    -webkit-text-fill-color: transparent;
}

@keyframes gradient-shift {
    0% {
        background-position: 58% 50%;
    }
    25% {
        background-position: 100% 0%;
    }
    75% {
        background-position: 10% 50%;
    }
    100% {
        background-position: 58% 50%;
    }
}

.day{
    font-size: 4.5rem;
    font-weight: 500;
}

.month{
    font-size: 2rem;
    font-weight: 400;
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 3rem;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    justify-content: start;
    align-items: center;
    grid-column-gap: 15rem;
    width: 100%;
}

.search-box{
    position: relative;
}

#search{
    border: none;
    font-size: 1.6rem;
    font-weight: 100;
    width: 100%;
    color: #fff;
    background-color: rgba(128, 128, 128, .15);
    margin-right: 1rem;
    border-radius: .6rem;
    padding: 1.5rem 5rem;
}

#search:focus{
    outline: none;
    color: rgba(0, 0, 0, .9);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
}

#search::placeholder{
    color: rgba(128, 128, 128, 1);
}

.icon{
    color: rgba(128, 128, 128, 1);
    font-size: 2.4rem;
    border-radius: 10rem;
    cursor: pointer;
    padding: 1rem;
    margin: 0 .5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.icon:first-of-type{
    left: 0rem;
}

.icon:last-of-type{
    right: 1rem;
}

.icon:hover{
    background-color: rgba(128, 128, 128, .2);
}

.cards{
    margin-top: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    grid-gap: 4rem;
}

.card{
    width: 28rem;
    height: 42rem;
    background-image: inherit;
    box-shadow: 0 2px 8px rgba(0,0,0,.4);
    border-radius: 1rem;
    color: #fff;
    padding: 5rem 3rem;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    transition: opacity 1s;
}

.weather-icon{
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
   width: 80%;
}

.details{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-content{
    margin: 0 auto;
}


.time{
    font-size: 1.4rem;
}

.temp{
    font-size: 2rem;
    margin-top: 9rem;
}

.city{
    font-size: 3.5rem;
    margin-top: 1rem;
    font-weight: 300;
}

.image{
    width: 8rem;
}

.weather{
    font-size: 2.2rem;
}
.not-found{
    margin: 10rem 0;
    display: none;
    flex-direction: column;
    align-items: center;
}

.not-found img{
    width: 25rem;
}

.not-found h2{
    color: #fff;
    font-weight: 200;
    font-size: 2.5rem;
    margin-top: 2rem;
}

.copyright{
    font-family: 'Ubuntu', sans-serif;
    color: #fff;
    font-weight: 200;
    font-size: 1.2rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
}

a:link, a:visited{
    color: #fff;
}

.copyright p:last-of-type{
    margin-top: .4rem;
}

@media(min-width: 1600px) {
    html{
        font-size: 75%;
    }
}

@media(max-width: 1250px) {
    .cards{
        grid-template-columns: 1fr 1fr;
        grid-gap: 8rem;
        margin-top: 10rem;
        padding-bottom: 5rem;
    }

    .container{
        grid-template-columns: 1fr 3fr;
        grid-column-gap: 5rem;
    }
}

@media(max-width: 750px) {
    .container{
        grid-template-columns: 1fr;
    }

    .cards{
        grid-template-columns: 1fr;
        grid-gap: 5rem;
    }

    .not-found img{
        width: 20rem;
    }

    html{
        font-size: 55%;
    }

    .search-box{
        margin-top: 5rem;
    }
}

@media(max-width: 500px) {
    .cards{
        grid-gap: 3rem;
    }

    .card{
        width: 35rem;
        height: 20rem;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .weather-icon{
        flex-direction: column;
        width: 100%;
    }

    .details{
        width: 50%;
    }

    .main-content{
        margin-bottom: 3rem;
    }

    .time{
        margin-bottom: 3rem;
    }

    .temp{
        margin-top: 0;
    }

    .city{
        font-size: 3rem;
        margin-top: 0;
    }

    .weather{
        margin-top: 1rem;
    }
}

@media(max-width: 340px) {
    html{
        font-size: 50%;
    }
}