.rain {
    background-image: url("../images/rain.jpg");
}

.drizzle {
    background-image: url("../images/drizzle.jpg");
}

.storm {
    background-image: url("../images/storm.jpg");
}

.smoke {
    background-image: url("../images/smoke.jpg");
}

.dust {
    background-image: url("../images/dust.jpg");
}

.fog {
    background-image: url("../images/fog.jpg");
}

.snow {
    background-image: url("../images/snow.jpg");
}

.snow-night {
    background-image: url("../images/snow-night.jpg");
}

.snow-clouds {
    background-image: url("../images/snow-clouds.png");
}

.clouds {
    background-image: url("../images/clouds.jpg");
}

.clouds-alt {
    background-image: url("../images/clouds-alt.png");
}

.sunny {
    background-image: url("../images/sunny.png");
}

.snow {
    background-image: url("../images/snow.jpg");
}

.clear {
    background-image: url("../images/clear.jpg");
}

.night {
    background-image: url("../images/night.jpg");
}
